body {
  background-color:whitesmoke;
}

h1 {
  font-family: Arial;
  font-size: 18px;
  color: blue;
  font-weight: bold;
}
div {
  font-family: Arial;
  font-size: 18px;
  color: black;
  font-weight: lighter;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}